{% extends 'base.html.twig' %}

{% block title %}Hello InterfaceController!{% endblock %}

{% block body %}
<div class="container mt-5">

    {% if employees is empty %}
    <p>Il n'y a aucun utilisateur</p>
    {% else %}
        <ul>
        {% for employee in employees %}
            <li>{{employee.name|capitalize}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="formProd">
        {{form(formEmployee)}}
    </div>

    {% if employees is empty %}
    <p>Il faut ajouter des employés pour pouvoir affecter des taches<p>
    {% else %}
    <div class="formProd">
        {{form_start(formTask)}}
        {{form_rest(formTask)}}
        <select name="Employee">
            {% for employee in employees %}
                <option value="{{employee.id}}">{{ employee.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Ajouter tâche</button>
        {{form_end(formTask)}}
    </div>
    {% endif %}
</div>


{% endblock %}
