{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_USER') %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            {% if users is empty %}
            <p>Il n'y a aucun utilisateur</p>
            {% else %}
                <ul>
                    {% for user in users %}
                        <li>{{user.nom|capitalize}} {{user.prenom|capitalize}} {{user.tasks|length}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-6">
            {{form_start(formUser)}}
            {{form_end(formUser)}}
        </div>
    </div>
</div>
            
{% else %}
    <p>Je ne sais pas comment vous êtes venus ici mais il faut etre connecté pour acceder au contenue de la page</p>      
{% endif %}


{% endblock %}
